<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.foi.air2003.menzapp.login">

    <application>
        <activity android:name="hr.foi.air2003.menzapp.login.LoginActivity"/>
        <activity android:name="hr.foi.air2003.menzapp.login.RegistrationActivity"/>
    </application>
</manifest>