<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.foi.air2003.menzapp.login">

    <application>
        <activity android:name="hr.foi.air2003.menzapp.login.LoginActivity" />
        <activity android:name="hr.foi.air2003.menzapp.module_google_login.GoogleLoginActivity" />
        <activity android:name="hr.foi.air2003.menzapp.login.RegistrationActivity" />
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
    </application>
</manifest>